body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangular{
    border-radius:10px;
    width: 200px;
    height: 200px;
}
.square{
     border-radius: 5px;
     width: 100px;
     height: 100px;
}
/*img:hover{*/
/*    transform:scale(1.05);*/
/*}*/
/*.vertical{*/
/*  padding: 100px;*/
/*}*/
/*.image-container{*/
/*    float: left;*/
/*}*/
/*.content{*/
/*    float: right;*/
/*}*/
