@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500&family=Nunito:wght@200;300;400;500&display=swap");

* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s ease-out;
}

html {
  font-size: 75.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

body {
  background-color: #131313;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: capitalize;
  font-size: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: black;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
  height: 60vh;
}

.map,
.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

iframe {
  border-radius: 5px;
  margin-top: 2rem;
  height: 100%;
  width: 100%;
}

.inputbox {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  gap: 1.5rem;
  margin-top: 2rem;
}

.form input,
.form textarea {
  border: none;
  border-radius: 5px;
  padding: 15px;
  background-color: #5a5959;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input::placeholder,
textarea::placeholder {
  color: white;
}

.div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

button {
  padding: 15px 25px;
  border-radius: 20px;
  color: white;
  z-index: 1;
  border: 1px white solid;
  background: #0f0f0f;
  position: relative;
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: white;
  color: black;
  z-index: -1;
  transition: all 250ms;
}

button:hover {
  color: black;
}

button:hover::before {
  width: 100%;
}
