body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Remove default margin */
}

p {
    color: white;
}

.container {
    display: flex; /* Use Flexbox */
    justify-content: space-between; /* Space between .box1 and .box2 */
    padding: 60px; /* Adjust as needed */
    margin-left: auto;
    margin-right: auto;
}

input::placeholder,
textarea::placeholder {
    color: white; /* Set the placeholder text color to white */
}

input {
    border-radius: 5px;
    padding: 10px; /* Add padding for better appearance */
    background-color: #333;
    color: white; /* Set the text color inside input fields to white */
}
textarea{
   background-color: #333;
   color: white; /* Set the text color inside input fields to white */
}


.box1 {
    flex: 1; /* Allow .box1 to grow and take space */
    padding: 20px; /* Adjust as needed */
    float: left;
}

.box2 {
    flex: 1; /* Allow .box2 to grow and take space */
    padding: 20px; /* Adjust as needed */
    float: right;
}

.one {
    border-radius: 10px;
    width: 100%; /* Ensure the iframe takes the available width */
}

.two {
    border-radius: 10px;
    border: 1px solid white; /* Specify border properties */
    background-color:  #333; /* Set background color as needed */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding for the button */
    cursor: pointer;
}
.two:hover {
    background-color: white; /* Change the background color to white on hover */
    color: black;
}
